<form action="/payment/results">
  <label for="apr">APR</label>
  <input id="apr" type="text" placeholder="E.g. 5.42" name="apr">

  <label for="n">Number of years</label>
  <input id="n" type="text" placeholder="How many years to repay?" name="n">

  <label for="pv">Principal</label>
  <input id="pv" type="text" placeholder="How much principal?" name="pv">
  
  <button>Calculate monthly payment</button>

</form>