<form action="/square_root/results">
  <label for="n_square_root">Enter a number</label>

  <input id="n_square_root" type="text" placeholder="what number do you want to square root?" name="number">
  <button>Calculate square root</button>

</form>