<form action="/square/results">
  <label for="n_square">Enter a number</label>

  <input id="n_square" type="text" placeholder="what number do you want to square?" name="number">
  <button>Calculate square</button>

</form>